@{
	ViewData["Title"] = "Games";
}

<h1>Games</h1>
<a asp-action="Create" asp-controller="Games">
	<button type="button" class="btn btn-secondary btn-lg" fdprocessedid="wpe9u">Create Game<i class="bi bi-plus-circle-dotted mx-1"></i></button>
</a>
